<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="Description" content="This is cool stuff"> 
			<title>Karish's Website
				</title>
		</head>
	<body style="background-color: black">
		<h1 style="color:red"><big>Karish's Website</big></h1>
		<hr/>
		<br/><br/>
		<form>
		<label style= "color:white">
			<big><big><b>Please Enter the URL of the Reddit post :</b></big></big>
		</label>
		<input type="URL" name="URL">
		<div>
		<input type="submit" name="FLAIR">
		</div>
	</form>
		</body>
</html>